# Les Variables et opérateurs

Une variable est comme une case de mémoire dans notre ordinateur, à laquelle on donne un nom et une valeur qui peut changer. Sur la figure suivante, nous avons un carton appélé `Variable` et dans laquelle on met de la donnée (Data). On peut changer le contenu du carton ou y ajouter plusieurs autres éléments.

![Variable](images/variables.png)

Voici comment définir une variable avec sa valeur en Python :

In [1]:
poids = 89

Ici, nous avons donné le nom `poids` à notre variable et elle contient la valeur 89. La valeur d'une variable peut changer, donc on peut faire ceci:

In [2]:
poids = 82

Désormais, notre variable `poids` contient la valeur 82. On peut l'afficher pour vérifier avec le fonction `print`

In [3]:
print(poids)

82

Pour donc affichier la valeur d'une variable, il faut écrire `print` suivi de parathèses `()` avec à l'intérieur le nom de notre variable. Puisqu'on est dans un notebook, on peut aussi afficher la valeur d'une variable simplement en tapant le nom comme ceci :

In [ ]:
poids

Que se passe-t-il quand je nomme ma variable `2poids` pour dire que c'est un second poids ? Essayons:

In [ ]:
2poids = 25

On obtient une erreur. Cela est dû au fait qu'en Python le nom d'une variable ne peut commencer par un chiffre. Par convention, il est recommandé d'utiliser les lettres miniscules et le tiret du 8 `_` pour nommer une variable. N'oublions pas que le nom ne peut contenir un espace. Une variable pour designer l'âge de Kevin pourrait donc s'appeler `lage_de_kevin`.

In [4]:
lage_de_kevin = 20

On peut faire des opérations mathématiques sur les variables :

**addiction**

In [5]:
15 + 30

45

In [6]:
nombre = 5
print(nombre + 4)

9

**soustraction**

In [7]:
96 - 12

84

In [8]:
print(nombre - 2)

3

**Multiplication**

In [9]:
5 * 3

15

In [10]:
print(nombre * 2)

10

**Division**

In [11]:
27 / 9

3.0

In [12]:
25 / 2

12.5

On peut décider d'extraire uniquement le quotient de la division

In [14]:
25 // 2

12

**Exposant**

In [15]:
2 ** 5

32

In [16]:
15 ** 0

1

**Modulo (Reste de la division)**

In [17]:
89 % 2

1

On peut donc dire qu'un nombre est pair par exemple si ce nombre modulo 2 est 1 et non 0

In [18]:
est_pair = 27 % 2

In [19]:
est_pair

1

On peut stocker le resultat de l'opération sur une variable avec le même nom

In [20]:
nombres_de_voitures = 5

In [21]:
nombres_de_voitures = nombres_de_voitures + 15

In [22]:
nombres_de_voitures

20

on peut réecrire l'opération de cette manière

In [23]:
nombres_de_voitures += 15

In [24]:
nombres_de_voitures

35

In [25]:
nombres_de_voitures -= 3

In [26]:
nombres_de_voitures

32

In [27]:
nombres_de_voitures /= 2

In [28]:
nombres_de_voitures

16.0

In [29]:
nombres_de_voitures *= 3

In [30]:
nombres_de_voitures

48.0

**Ordre de priorité des opération: P E M D A S**

Il existe un ordre d'exécution des opérations en Python. Il s'agit de :
* Parenthèses
* Exposants
* Multiplication
* Division
* Addition
* Soustraction

In [31]:
15 + 8 * 3 ** 2

87

In [32]:
(15 + 8) * 3 ** 2

207

# Les Types de variables en Python

Il existe plusieurs types de variables en Python.

## Les nombres entiers

In [33]:
age = 15

15 est un nombre entier. En anglais, on dit que 15 est un `integer` ou encore `int` pour faire court. On peut vérifier le type d'une variable en utilisant la fonction `type` comme ceci :

In [34]:
type(age)

int

## Les nombres à virgules

In [35]:
taille = 1.83

1.83 est un nombre à virgule. Il faut noter ici que la virgule est représentée par un point. C'est la convention en anglais. `1,83` n'est donc pas un nombre à virgule si vous l'ecrivez comme ca. En anglais, on appelle un nombre à virgule, `float`

In [36]:
type(taille)

float

## Les chaînes de caractères

On a vu les nombres. Place aux chaines de caractères. Un mot est une chaine de caractères. Une lettre est une chaine de caractères avec un seul élément. Pour dire à Python qu'une variable est une chaine de caractère ou encore `string`, on la met en des guillemets comme ceci `"blabla"` ou `'blabla'`.

In [37]:
nom = "Kevin"

In [38]:
type(nom)

str

Que se passe-t-il si je mets un nombre entre des guillemets. Essayons et vérifions le type.

In [39]:
nombre = "15"

In [40]:
type(nombre)

str

nombre est apparemment un `str (string)`, ce qui veut dire que toute chose qu'on mettra entre des guillemets est une chaine de caractères

## Changement de Type

Il est possible de modifier le type d'une variable après l'avoir créer.

In [41]:
numero = "15"

In [42]:
type(numero)

str

In [43]:
numero_int =  int(numero)

In [44]:
type(numero_int)

int

Mais attention, il faut que la variable soit convertible.

In [45]:
numero = "1589kil"

In [46]:
int(numero)

ValueError: invalid literal for int() with base 10: '1589kil'

In [47]:
age = 15

In [48]:
str(age)

'15'

In [49]:
poids = "18.69"

In [50]:
float(poids)

18.69

In [51]:
poids = float(poids)

In [52]:
poids

18.69

En resumé, on peut modifier les types int et float en str. Mais pour convertir un str en int ou float, il faut que le str ait un nombre entre les guillemets. En convertissant un float en int, on perd la partie après la virgule, et en converstissant un int en float, on lui ajoute `.0` à la fin.

## Les listes

Les 3 types que nous avons vu sont des types primitifs. Les autres types que nous verrons seront des `collections` de ces types primitifs.

Le premier type est le type list. Une liste est simplement une collection ordonnée d'éléments. Comment créer une liste en Python ?

In [53]:
notes = [18, 15, 13, 20]

Une liste ne contient pas que des nombres.On peut stocker n'importe quel type de données dans une liste. La liste suivante contient même une liste:

In [54]:
blabla = ["Kevin", 15, 25.25, [5], "1"]

On a dit qu'une liste était une collection ordonnée d'éléments. C'est à dire que chaque élément de la liste a une position. On peut donc référencer un élément ou l'extraire avec sa position. **En Python, les positions commencent à partir de 0, on parle de l'index d'un élément dans une liste**. Essayons d'extraire le premier élémént de la liste `notes`, c'est l'élément `18` dont l'index est 0.

In [55]:
notes[0]

18

Troisième élément de la liste: index 2 ?

In [58]:
notes[2]

13

Pour donc extraire un élément d'une liste, on fait `nom_de_la_variable`[index].

L'index peut aussi être négatif. Dans ce genre de cas, on compte les éléments à partir du dernier élément de la liste. Notre liste `notes` se termine par 20. Son index est 3, mais aussi -1

In [59]:
notes[-1]

20

In [60]:
notes[-2]

13

Je peux attirer ton attention sur la liste blabla, qui contient à l'index 3 une liste qui contient un seul élément. Essayons de l'afficher:

In [61]:
blabla[3]

[5]

Vérifions son type :

In [62]:
type(blabla[3])

list

Il est possible de modifier les éléments d'une liste. Dans notre liste `notes`, l'étudiant qui a eu 13 a reçu un bonus de 2 points. S nouvelle note est 15. Faisons la modification.

In [63]:
notes = [18, 15, 13, 20]

In [64]:
notes[-2]

13

In [65]:
notes[-2] = 15

In [66]:
notes

[18, 15, 15, 20]

Pour donc modifier un élément dans une liste, il faut extraire et faire `= nouvelle valeur ou élément`.

Il est possible d'extraire une plage d'élément dans une liste. Par exemple, on se demande quelles sont 2 premiers éléments dans notre liste, c'est à dire les éléments dont les indexs sont 0 et 1. Il s'agit de 18 et 15. Voyons comment faire:

In [68]:
notes[0:2]

[18, 15]

Oh, il s'agit là d'une nouvelle notation. Entre les crochets, on a `0:2`. On dirait qu'on a fait `index du premier element : index du dernier element + 1`. Verifions si c'est vrai en extrayant les 3 derniers éléments, c'est à dire les élements 15, 15 et 20. L'index du premier élément est 1 et le dernier est 3, on fera donc `1:3+1`. Essayons:

In [69]:
notes[1:4]

[15, 15, 20]

On dirait que ca marche. C'ext excellent. Est-ce que c'est possible de faire la même extraction avec les indexs négatifs. Essayons d'extraire les deux 15 au milieu de la liste. L'index du premier 15 est -3 et celui du second 15 est -2, on fera donc `-3: -2+1`. Essayons:

In [70]:
notes[-3: -1]

[15, 15]

> Question : Que se passe-t-il quand j'omet, l'index avant le : et quand j'omet celui après le : .
En gros, que me donnera `notes[ : 2]` et `notes[-3 : ]`

Pour la suite de notre découverte des listes, nous allons utiliser une liste qui contient différents types d'éléments.

In [71]:
liste_aleatoire = [ 14, 58, 45, -9, "ballon", "kevin", 12]

Quelle est la taille de cette liste ?

In [72]:
len(liste_aleatoire)

7

On a 7 éléments dans notre liste, donc les indexs vont de 0 à 6. `len()` est une fonction utilisé pour connaitre la taille d'une collection, nous verra qu'elle est aussi utilisé pour les prochaines collections.

Comment ajouter le mot `python` à notre liste. Cet élément aura l'index 7. Peut-on faire

`liste_aleatoire[7] = "python"` ? Essayons voir :

In [73]:
liste_aleatoire[7] = "python"

IndexError: list assignment index out of range

On obtient une erreur. Quand je traduis cette erreur en Français, ca donne :
> IndexError: index d'affectation de liste hors limites

On dirait que Python a essayé de faire une modification et l'index 7 est hors des limites 0-6 de notre liste.
Comment faire alors ? Voici une opportunité de chercher sur Google `Comment ajouter un élément à une liste Python ?`. Apprendre à trouver les solutions à ces problèmes grâce à Google est une qualité important de tout programmeur.

Voici la solution :

In [74]:
liste_aleatoire.append('python')

In [75]:
liste_aleatoire

[14, 58, 45, -9, 'ballon', 'kevin', 12, 'python']

C'est bien tout ça, mais et si je souhaite ajouter le mot `data` entre 45 et -9 au lieu de l'ajouter à la fin de la liste. On parle alors d'insertion dans une liste. Tu peux également chercher sur Google rapidement avant de continuer.

L'index de 45 est 2. Si un mot est ajouté juste à côté de 45, il aura donc l'index 3. On peut utiliser la fonction `insert()` pour le faire.

In [76]:
liste_aleatoire.insert(3, 'data')

In [77]:
liste_aleatoire

[14, 58, 45, 'data', -9, 'ballon', 'kevin', 12, 'python']

Maintenant, on veut supprimer l'élément -9 pour n'avoir que des nombres positifs. Encore une opportunité de chercher sur Google `Comment supprimer un élément d'une liste Python`.

In [79]:
liste_aleatoire.remove(-9)

In [80]:
liste_aleatoire

[14, 58, 45, 'data', 'ballon', 'kevin', 12, 'python']

L'élément -9 a été supprimé. C'est parfait. On utilise donc la fonction remove pour supprimer l'élément.
> Question : Et si on avait -9 plusieurs fois dans la liste, la fonction remove va-t-elle tous les supprimer ?

Et si on ne connait pas l'élément qu'on veut supprimer mais son index. Comment le supprimer ?
> Toi: C'est simple, on affiche l'élement avec `liste_aleatoire[index]` et on fait `remove()` avec l'élément qui s'est affiché

> Moi: Bravo, c'est une très bonne technique. Mais je te propose un raccourci. Tu peux supprimer l'élément avec `del liste_aleatoire[index]`.Le mot clé `del` permet de supprimer un élément sans le connaitre.

> Toi: Hummmmm, très interessant ça. J'ai une question: Comment puis-je récuperer l'index d'un élément que je connais. Imagine que ma liste contient 156 éléments et que je ne peux pas le voir. Comment je peux recuperer l'index de l'élément - 9

> Moi: Google est ton ami. Voilà encore une occassion de chercher. Si tu trouves la solution, informe-moi sur Discord à https://discord.gg/sHE5exZ  .

In [81]:
del liste_aleatoire[1]

In [82]:
liste_aleatoire

[14, 45, 'data', 'ballon', 'kevin', 12, 'python']

Nous venons de voir plusieurs concepts concernant les listes. Prend le temps de créer une liste, y ajouter des éléments, extraire une plage d'élément, supprimer un élément ou une plage d'élément. Cela te permettra de consolider ce que tu as appris pour la suite. Tu peux également Faire les exercices de Python qui se trouvent [ici](https://www.w3schools.com/python/exercise.asp?filename=exercise_lists1).

Nous n'avons pas vu toutes les fonctions de Python pour les listes. Tu peux en découvrir d'autres [ici](https://www.w3schools.com/python/python_lists_methods.asp)
Voici quelques questions pour guider tes recherches : 
* Comment trier une liste de nombres du plus petit au plus grand, et inversement ?
* Peut-on ordonner une liste qui contient des nombres et des chaines de caractères ?
* Comment compter le nombre de fois qu'apparait un élément dans une liste ?

## Les tuples

Le second type de collections de données que nous allons voir est le type **tuple**. Les tuples sont commes les listes mais avec des parenthèses **( )** au lieu des crochets **[ ]**.

In [83]:
un_tuple = (2, 5 , 9)

In [84]:
type(un_tuple)

tuple

Mais en quoi différe-t-il des listes? Essayons de voir si on peut faire les mêmes opérations qu'on a faite avec les listes.

EXtraire un élément ?

In [85]:
un_tuple[2]

9

Peut-on remplacer les crochets par les parenthèses pour l'extraction ?

In [87]:
un_tuple(2)

TypeError: 'tuple' object is not callable

Oh, les parenthèses comme ca, c'est pour les fonctions qu'on verra plus tard.

Extraire une plage d'éléments dans un tuple:

In [88]:
un_tuple[0:2]

(2, 5)

Modifier les éléments d'un tuple :

In [89]:
un_tuple[1] = 15000

TypeError: 'tuple' object does not support item assignment

Oh, apparemment, on ne peut pas modifier un tuple. Peut-on lui ajouter un élément ?

In [90]:
un_tuple.append(15000)

AttributeError: 'tuple' object has no attribute 'append'

Apparemment, non plus. Peut-on supprimer un élément ?

In [91]:
del un_tuple[1]

TypeError: 'tuple' object doesn't support item deletion

Impossible. Donc on peut dire qu'un tuple est pas modifiable une fois qu'il a été crée. On dit qu'un tuple est immuable. Ce type de variable peut être utilisé pour sauvegarder des éléments qui ne changent pas, comme le nom des jours de la semaine, la température à laquelle, l'eau devient glace et autres

In [92]:
jours = ('lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche')

Ici se trouve 4 exercices pour toi sur les tuples : https://www.w3schools.com/python/exercise.asp?filename=exercise_tuples1.
Il existe un second type de variable qui ressemble aux listes, qu'on appelle **sets**. Je t'encourage à le chercher et comprendre comment on l'utilise et à quoi ca sert. Voici un lien pour t'aider : https://www.w3schools.com/python/python_sets.asp

## Les dictionnaires

Le dernier type de variable que nous allons voir est le type **dictionnaire**. Un dictionnaire est simplement une collection de clé-valeurs comme par exemple un annuaire qui est une collection de nom-numero de téléphone. Créeons justement un annuaire.

In [93]:
annuaire = {"kevin": "06545885852",
            "radji": "06466548454"}

Un dictionnaire c'est donc le format **clé : valeur** séparé par une virgule et le tout est dans des accolades **{}**

In [94]:
type(annuaire)

dict

Quel est le numéro de kevin ?

In [95]:
annuaire["kevin"]

'06545885852'

Cela ressemble à comment on a extrait les élements d'une liste. Mais cette fois-ci, au lieu de l'index, on met le clé entre les crochets.

Dans notre exemple, la clé et la valeur sont des chaines de caractères. Peut-on avoir comme valeur une liste par exemple ?

In [96]:
annuaire = {"kevin": "06545885852",
            "radji": "06466548454",
            "rock_ray": ["066545", "06454"]}

In [97]:
print(annuaire)

{'kevin': '06545885852', 'radji': '06466548454', 'rock_ray': ['066545', '06454']}

C'est possible. Combinons nos compétences en listes et dictionnaires pour extraire le 1er numéro de rock_ray

In [98]:
annuaire["rock_ray"]

['066545', '06454']

In [99]:
annuaire["rock_ray"][0]

'066545'

Peut-on lui ajouter un 3ème numéro ?

In [100]:
annuaire["rock_ray"].append("06545451")

In [101]:
annuaire

{'kevin': '06545885852',
 'radji': '06466548454',
 'rock_ray': ['066545', '06454', '06545451']}

> Question : Peut-on créer une liste de dictionnaire ?,
La clé peut-elle être un nombre (int ou float) ?
La clé peut-elle être un dictionnaire ?

Comment modifier un dictionnaire ? Ici on veut modifier le numero de kevin.

In [110]:
annuaire['kevin'] = "0606060606"

In [111]:
annuaire

{'kevin': '0606060606',
 'radji': '06466548454',
 'rock_ray': ['066545', '06454', '06545451']}

Et si on veut changer la clé ? C'est comme si on voulait changer l'index d'une liste: C'est impossible. IL faut supprimer l'élément et y ajouter la nouvelle clé-valeur. Alors comment supprimer une clé-valeur ?

In [112]:
del annuaire['rock_ray']

In [113]:
annuaire

{'kevin': '0606060606', 'radji': '06466548454'}

Ca fonctionne. Comment ajouter une nouvelle clé-valeur. Il suffit de faire :

In [114]:
annuaire['sos'] = "911"

In [115]:
annuaire

{'kevin': '0606060606', 'radji': '06466548454', 'sos': '911'}

In [103]:
un_dict = {2: "deux",
           5:"cinq",
           3:"trois"}

Quelle est la taille de ce nouveau dictionnaire ? C'est à dire combien de clé-valeurs. On avait utilisé la fonction **len** pour les listes. Est-ce que ca marche pour les dictionnaires ?

In [105]:
len(un_dict)

3

La réponse est Oui

In [106]:
un_dict[2]

'deux'

In [107]:
un_dict[1]

KeyError: 1

In [109]:
un_dict[5]

'cinq'

Revenons à notre annuaire. Comment l'organiser par ordre alphabétique selon la clé. Je t'invite à chercher une fois de plus la réponse sur Google

In [117]:
annuaire['bob'] = "568978"
annuaire

{'kevin': '0606060606', 'radji': '06466548454', 'sos': '911', 'bob': '568978'}

In [118]:
sorted(annuaire.items(), key=lambda t: t[0])

[('bob', '568978'),
 ('kevin', '0606060606'),
 ('radji', '06466548454'),
 ('sos', '911')]

Tu n'es pas censé comprendre ce qu'on vient de faire. On a utilisé la fonction **lambda** qui est une fonction spéciale en Python. Ce qu'il faut retenir c'est la fonction items()

In [119]:
annuaire.items()

dict_items([('kevin', '0606060606'), ('radji', '06466548454'), ('sos', '911'), ('bob', '568978')])

Cette fonction nous retourne une liste de tuple, chaque tuple contenant la clé et la valeur.

Voici 2 autres fonctions qui peuvent t'interesser

In [121]:
annuaire.keys()

dict_keys(['kevin', 'radji', 'sos', 'bob'])

In [122]:
annuaire.values()

dict_values(['0606060606', '06466548454', '911', '568978'])

Nous venons donc finir de voir le type dictionnaire. C'est le moment une fois de plus de pauser et reprendre ce qu'on a fait. Créer un dictionnaire, modifie le, ajoute des élements et supprime également quelques uns.
Tu peux aussi explorer d'autres fonctions de dictionnaires ici : https://www.w3schools.com/python/python_dictionaries_methods.asp et faire des exercices ici : https://www.w3schools.com/python/exercise.asp?filename=exercise_dictionaries1

## Chaine de caractères: Es-tu une collection comme liste ?

Quand on y pense, les chaînes de caractères peuvent être considérerés comme une collection de caractères. Par exemple, sa taille serait le nombre de caractères et chaque caractère aura un index comme dans les liste. Essayons voir.

In [123]:
nom = "Kevin"

In [124]:
len(nom)

5

In [125]:
nom[0]

'K'

In [126]:
nom[:4]

'Kevi'

Eh bah, ca fonctionne. Essayons de modifier une lettre.

In [128]:
nom[0] = "k"

TypeError: 'str' object does not support item assignment

Apparement, on ne peut pas modifier une lettre dans une chaine de caractère. Par contre on peut concatener des chaines de caractères comme ceci:

In [129]:
nom

'Kevin'

In [130]:
nom + " Degila"

'Kevin Degila'

In [131]:
"bonjour" +  "a toi"

'bonjoura toi'

> Question: Que se passe-t-il quand on additionne des listes ou des dictionnaires ? Si on peut additionner, peut-on multiplier ? Et la soustraction, c'est possible ?

Voyons désormais quelques fonctions interessantes pour les str

In [132]:
bootcamp = 'data science'

In [133]:
bootcamp.title()

'Data Science'

In [135]:
bootcamp.lower()

'data science'

In [136]:
bootcamp.upper()

'DATA SCIENCE'

In [142]:
bootcamp.count('a')

2

Comme d'habitude, Voici où trouver d'autres fonctions : https://www.w3schools.com/python/python_strings_methods.asp

Et Voici quelques exercices intéressants : https://www.w3schools.com/python/exercise.asp?filename=exercise_strings1

## Les F-strings

Avant de cloturer ce notebook, parlons d'un concept particulier.

On a les variables `nom`, `prenom`,  `age` et on aimerait afficher un message spécial du genre:
> Je suis `prenom` `nom` et j'ai `age` ans. Voici comment le faire :

In [143]:
nom = "Degila"
prenom = "Kevin"
age = 23

In [144]:
message = f"Je suis {prenom} {nom} et j'ai {age} ans"

In [145]:
print(message)

Je suis Kevin Degila et j'ai 23 ans

Un f-string est une chaine de caractères qui commence par un f avant les " ", et dans laquelle on garde le nom des variables mais en les gardant entre des accolades { }. Ce qui est intéressant, c'est qu'entre ces { }, du code python peut s'executer. Exemple :

In [146]:
print(f"Je suis {prenom} {nom} et j'ai {age + 20} ans")

Je suis Kevin Degila et j'ai 43 ans

On a ajouté 20 à mon age dans les accolades et la somme a été faite. Voilà le strict nécéssaire à savoir concernant les f-strings. Je t'invite à [lire](https://realpython.com/python-f-strings/) un peu plus sur ces chaines de caractères particulieres et tout ce qu'on peut faire avec.