# Function to automatic merge and fill missing values


## Create the function
You have to create a function which take 2 arguments :
- argument 1 : DataFrame main
- argument 2 : DataFrame opinion

Your function will return a new DataFrame which is the left merge of both DataFrames, and which has no missing values (so your function has to fill them), add new columns (flag, MONTH and DAY), and OPINION should be translated.

So you have to copy each useful code from the previous quests, and integrate it into a function. **This should achieve the same results as the previous quests.**

In [170]:
import pandas as pd
link_main = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_main_2018.csv"
link_opinion = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_opinion_2018.csv"
df_main = pd.read_csv(link_main)
df_opinion = pd.read_csv(link_opinion)
print(df_main.head())
print(df_opinion.head())

         DATE  MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
0  2018-01-01                 12                  8                 61
1  2018-01-02                 13                  6                 26
2  2018-01-03                 15                 10                 40
3  2018-01-04                 14                 11                 45
4  2018-01-05                 12                  7                 21

   TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
0                      9                  11                      8
1                      8                  12                     13
2                     11                  12                     10
3                     14                  14                     11
4                     10                  11                      8

   PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
0                  8.9                    79              9.500
1                  0.6                    96              9.000
2                  5.5                    82              8.500
3                  0.0                    89             10.000
4                  1.5                    85              9.875

   PRESSURE_MAX_MB  CLOUDCOVER_AVG_PERCENT  HEATINDEX_MAX_C  DEWPOINT_MAX_C  \
0             1018                  41.750               12               8
1             1020                  87.875               13              12
2             1017                  91.500               15              13
3             1011                  90.125               14              12
4             1005                  62.375               12              10

   WINDTEMP_MAX_C
0               7
1               6
2               7
3              10
4               7
         date  WEATHER_CODE_EVENING  TOTAL_SNOW_MM  UV_INDEX  SUNHOUR OPINION
0  2018-01-01                   113              0         3      5.1     bad
1  2018-03-12                   119              0         2      8.8     bad
2  2018-03-09                   116              0         3     10.2     bad
3  2018-10-07                   122              0         1      5.6     bad
4  2018-06-18                   119              0         1     12.9     bad

In [171]:
def create_df_wild_with2date(start_year, end_year):
    import pandas as pd
    # Initiate an empty DataFrame
    dftotal = pd.DataFrame()
    # Collect both DataFrames each year
    plage_year = [year for year in range(start_year, end_year)]

    for var_year in plage_year:
        year = str(var_year)
        link_main = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_main_" + year + ".csv"
        link_opinion = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_opinion_" + year + ".csv"
        df_main = pd.read_csv(link_main)
        df_opinion = pd.read_csv(link_opinion)
    # Apply your merge, cleaning and fillna function on the current year
    df_year = mergeDF(df_main, df_opinion)

    # Concat with the global DF
    dftotal = pd.concat([dftotal, df_year])
    return dftotal


def mergeDF(df_main, df_opinion):
    df_opinion.rename(columns={'date': 'DATE'}, inplace=True)
    dfnew = pd.merge(left=df_main,
                     right=df_opinion,
                     left_on='DATE',
                     right_on="DATE",
                     how='left')
    # on va renommer la colonne date avec le meme format que la table main
    # liste_colonnes_opinion = df_opinion.columns.to_list()
    # print(liste_colonnes_opinion)
    return dfnew


def translate(opinion):
    try:
        # nettoyage et typage de la variable
        opinion = str(opinion).strip().lower()
        # print(opinion)
        translations = {
            "very bad": "très mauvais",
            "bad": "mauvais",
            "not good not bad": "ni bon ni mauvais",
            "good": "bon",
            "very good": "très bon"
        }
        return translations[opinion]
    except KeyError:
        return opinion

In [172]:
mergeDF(df_main, df_opinion)

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,PRESSURE_MAX_MB,CLOUDCOVER_AVG_PERCENT,HEATINDEX_MAX_C,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION
0,2018-01-01,12,8,61,9,11,8,8.9,79,9.500,1018,41.750,12,8,7,113.0,0.0,3.0,5.1,bad
1,2018-01-02,13,6,26,8,12,13,0.6,96,9.000,1020,87.875,13,12,6,122.0,0.0,3.0,3.3,bad
2,2018-01-03,15,10,40,11,12,10,5.5,82,8.500,1017,91.500,15,13,7,122.0,0.0,3.0,3.3,bad
3,2018-01-04,14,11,45,14,14,11,0.0,89,10.000,1011,90.125,14,12,10,116.0,0.0,3.0,3.3,bad
4,2018-01-05,12,7,21,10,11,8,1.5,85,9.875,1005,62.375,12,10,7,116.0,0.0,3.0,6.9,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,7,2,6,2,6,5,0.0,85,10.000,1027,30.750,8,6,3,119.0,0.0,1.0,8.7,very bad
361,2018-12-28,7,2,8,2,7,3,0.0,89,8.000,1035,18.750,8,4,4,113.0,0.0,1.0,8.7,very bad
362,2018-12-29,7,1,6,1,6,4,0.0,94,7.000,1038,33.000,8,5,1,116.0,0.0,1.0,8.7,very bad
363,2018-12-30,9,4,6,5,9,8,0.1,95,6.000,1038,70.375,10,9,7,143.0,0.0,1.0,3.3,very bad
364,2018-12-31,9,5,10,5,9,6,0.0,95,6.000,1038,40.250,10,7,5,116.0,0.0,1.0,8.7,very bad

In [173]:
dftotal = create_df_wild_with2date(2017, 2019)

### INFOS SUR LE DATASET

In [174]:
# INFOS SUR LE DATASET
"""fonction resumant les informations essentielles à connaittre sur un dataset
"""


def info_dataframe(dataframe):
    df = dataframe
    print("\ntaille: ", df.size, "valeurs.", " \nDimensions:", df.shape)
    print("\nNombre de na:", df.isna().all().size,
          "\nNombre de null:", df.isnull().all().size)
    print("\nliste nom des colonnes: \n", df.columns)
    print("\nliste colonnes comportant des NA: \n", df[df.isna()].columns)
    try:
        print("\nliste nom des valeurs uniques par ligne: \n",
              df[df.iloc[:, 1:]].value.unique())
        for col in df.columns[1:]:
            if df[col].dtype == 'object' and df[col].dtype != 'int*' and df[col].dtype != 'float*':
                print(f"\nValeurs uniques pour {col} : \n", df[col].unique())
    except:
        print("\nil y a trop de colonnes pour sortir les valeurs uniques de chacunes\n")
        # pass
    print("\nInfo")
    print(df.info())
    print("\nDescribe")
    print(df.describe())
    print("\nHead")
    print(df.head(5))
    return

In [175]:
# test fonction info
info_dataframe(dftotal)

taille:  7300 valeurs.
Dimensions: (365, 20)

Nombre de na: 20
Nombre de null: 20

liste nom des colonnes:
 Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION'],
      dtype='object')

liste colonnes comportant des NA:
 Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION'],
      dtype='object')

il y a trop de colonnes pour sortir les valeurs uniques de chacunes


Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    365 non-null    object
 1   MAX_TEMPERATURE_C       365 non-null    int64
 2   MIN_TEMPERATURE_C       365 non-null    int64
 3   WINDSPEED_MAX_KMH       365 non-null    int64
 4   TEMPERATURE_MORNING_C   365 non-null    int64
 5   TEMPERATURE_NOON_C      365 non-null    int64
 6   TEMPERATURE_EVENING_C   365 non-null    int64
 7   PRECIP_TOTAL_DAY_MM     365 non-null    float64
 8   HUMIDITY_MAX_PERCENT    365 non-null    int64
 9   VISIBILITY_AVG_KM       365 non-null    float64
 10  PRESSURE_MAX_MB         365 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT  365 non-null    float64
 12  HEATINDEX_MAX_C         365 non-null    int64
 13  DEWPOINT_MAX_C          365 non-null    int64
 14  WINDTEMP_MAX_C          365 non-null    int64
 15  WEATHER_CODE_EVENING    341 non-null    float64
 16  TOTAL_SNOW_MM           341 non-null    float64
 17  UV_INDEX                341 non-null    float64
 18  SUNHOUR                 341 non-null    float64
 19  OPINION                 341 non-null    object
dtypes: float64(7), int64(11), object(2)
memory usage: 57.2+ KB
None

Describe
       MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
count         365.000000         365.000000         365.000000
mean           16.879452           9.315068          19.205479
std             6.773959           5.339251           8.682050
min             1.000000          -6.000000           4.000000
25%            12.000000           6.000000          13.000000
50%            16.000000           9.000000          18.000000
75%            23.000000          14.000000          24.000000
max            33.000000          21.000000          61.000000

       TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
count             365.000000          365.000000             365.000000
mean               10.263014           16.345205              13.863014
std                 5.605323            6.749543               6.865896
min                -6.000000            0.000000              -3.000000
25%                 6.000000           11.000000               9.000000
50%                10.000000           16.000000              13.000000
75%                15.000000           22.000000              20.000000
max                22.000000           32.000000              30.000000

       PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
count           365.000000            365.000000         365.000000
mean              1.057808             78.123288           9.087329
std               2.140100             11.995816           1.236827
min               0.000000             32.000000           2.750000
25%               0.000000             70.000000           8.375000
50%               0.100000             79.000000           9.750000
75%               1.100000             88.000000          10.000000
max              15.300000             98.000000          10.000000

       PRESSURE_MAX_MB  CLOUDCOVER_AVG_PERCENT  HEATINDEX_MAX_C  \
count       365.000000              365.000000       365.000000
mean       1018.600000               42.601370        17.627397
std           8.065937               28.511112         7.429398
min         991.000000                0.000000         1.000000
25%        1014.000000               17.000000        12.000000
50%        1019.000000               41.125000        16.000000
75%        1023.000000               65.750000        25.000000
max        1039.000000              100.000000        36.000000

       DEWPOINT_MAX_C  WINDTEMP_MAX_C  WEATHER_CODE_EVENING  TOTAL_SNOW_MM  \
count      365.000000      365.000000            341.000000          341.0
mean        11.646575       12.378082            118.507331            0.0
std          5.338387        8.031843             16.988338            0.0
min          0.000000      -11.000000            113.000000            0.0
25%          8.000000        6.000000            113.000000            0.0
50%         12.000000       12.000000            116.000000            0.0
75%         16.000000       19.000000            119.000000            0.0
max         22.000000       30.000000            353.000000            0.0

         UV_INDEX     SUNHOUR
count  341.000000  341.000000
mean     1.574780    9.903519
std      1.126346    3.543650
min      1.000000    3.300000
25%      1.000000    7.400000
50%      1.000000   10.200000
75%      1.000000   11.600000
max      5.000000   16.000000

Head
         DATE  MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
0  2018-01-01                 12                  8                 61
1  2018-01-02                 13                  6                 26
2  2018-01-03                 15                 10                 40
3  2018-01-04                 14                 11                 45
4  2018-01-05                 12                  7                 21

   TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
0                      9                  11                      8
1                      8                  12                     13
2                     11                  12                     10
3                     14                  14                     11
4                     10                  11                      8

   PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
0                  8.9                    79              9.500
1                  0.6                    96              9.000
2                  5.5                    82              8.500
3                  0.0                    89             10.000
4                  1.5                    85              9.875

   PRESSURE_MAX_MB  CLOUDCOVER_AVG_PERCENT  HEATINDEX_MAX_C  DEWPOINT_MAX_C  \
0             1018                  41.750               12               8
1             1020                  87.875               13              12
2             1017                  91.500               15              13
3             1011                  90.125               14              12
4             1005                  62.375               12              10

   WINDTEMP_MAX_C  WEATHER_CODE_EVENING  TOTAL_SNOW_MM  UV_INDEX  SUNHOUR  \
0               7                 113.0            0.0       3.0      5.1
1               6                 122.0            0.0       3.0      3.3
2               7                 122.0            0.0       3.0      3.3
3              10                 116.0            0.0       3.0      3.3
4               7                 116.0            0.0       3.0      6.9

  OPINION
0     bad
1     bad
2     bad
3     bad
4     bad

## MAKE A FUNCTION TO CREATE DATAFRAMES

In [176]:
# test
try:
    print(dftotal["DATE"])
except:
    print(dftotal.index)

0      2018-01-01
1      2018-01-02
2      2018-01-03
3      2018-01-04
4      2018-01-05
          ...
360    2018-12-27
361    2018-12-28
362    2018-12-29
363    2018-12-30
364    2018-12-31
Name: DATE, Length: 365, dtype: object

In [177]:
# def merge_and_fill(DataFrameMain, DataFrameOpinion):
def add_col_and_fill(dftotal):
    import numpy as np
    # Initialisation du dataframe de sortie
    df = pd.DataFrame
    df = dftotal
    #
    # MERGE déja intégré dans la fonction create_df_wild_with2date()

      #  formatage colonne date en date, si déja fait on ne fait pas
    try:
        df['DATE'] = pd.to_datetime(df['DATE'])
        df.set_index('DATE', inplace=True)
    except :
        pass

    # FILL IN MISSING VALUES
    # remplacement de na par 0
    liste_colonnes_nulle = ["TOTAL_SNOW_MM", ]
    for column_name in liste_colonnes_nulle:
        df[column_name] = df[column_name].fillna(0, inplace=True)

    # remplacement de na par la valeur mediane
    liste_colonnes_mediane = ["WEATHER_CODE_EVENING"]
    for column_name in liste_colonnes_mediane:
        median_value = df[column_name].median()
        df[column_name] = df[column_name].fillna(median_value, inplace=True)
    # "UV_INDEX"
    # remplacement de na par bfill et ffill
    liste_colonnes_mediane = ["UV_INDEX"]
    for column_name in liste_colonnes_mediane:
        df[column_name] = df[column_name].fillna(method='ffill', inplace=True)
        df[column_name] = df[column_name].fillna(method='bfill', inplace=True)
        # Remplir les valeurs manquantes restantes avec 0
        df[column_name] = df[column_name].fillna(0, inplace=True)

    # ADD NEW COLUMNS
    try:
        # ajout colonne DAY
        df['DAY'] = df.index.day
        # ajout colonne Month
        df['MONTH'] = df.index.month

        # colonne flag
        df['flag'] = df['OPINION'].isna()
        df['flag'].value_counts()
    except :
        pass

    # "OPINION"
    # remplacement de na par unknown
    liste_colonnes_mediane = ["OPINION"]
    for column_name in liste_colonnes_mediane:
        df[column_name] = df[column_name].fillna("unknown", inplace=True)

    # remplacement des valeurs manquantes des colonnes int ou float par 0
    # sinon remplacement des valeurs manquantes des colonnes objet par unkwon
    for column in df.columns[df.isnull().any()]:
        if np.issubdtype(df[column].dtype, np.number):
            df[column].fillna(0, inplace=True)
        # else:
        #     df[column].fillna("unknown", inplace=True)

    #  Verification qu'il ne reste plus de valeurs na
    for column in df.columns:
        print("I have ", df.isna().all().size,
              "missing values in the column", column)



    # TRANSLATE OPINION
    df['OPINION'] = df['OPINION'].apply(translate)

    return df

In [178]:
# test de la fonction
add_col_and_fill(dftotal)

I have  22 missing values in the column MAX_TEMPERATURE_C
I have  22 missing values in the column MIN_TEMPERATURE_C
I have  22 missing values in the column WINDSPEED_MAX_KMH
I have  22 missing values in the column TEMPERATURE_MORNING_C
I have  22 missing values in the column TEMPERATURE_NOON_C
I have  22 missing values in the column TEMPERATURE_EVENING_C
I have  22 missing values in the column PRECIP_TOTAL_DAY_MM
I have  22 missing values in the column HUMIDITY_MAX_PERCENT
I have  22 missing values in the column VISIBILITY_AVG_KM
I have  22 missing values in the column PRESSURE_MAX_MB
I have  22 missing values in the column CLOUDCOVER_AVG_PERCENT
I have  22 missing values in the column HEATINDEX_MAX_C
I have  22 missing values in the column DEWPOINT_MAX_C
I have  22 missing values in the column WINDTEMP_MAX_C
I have  22 missing values in the column WEATHER_CODE_EVENING
I have  22 missing values in the column TOTAL_SNOW_MM
I have  22 missing values in the column UV_INDEX
I have  22 missing values in the column SUNHOUR
I have  22 missing values in the column OPINION
I have  22 missing values in the column DAY
I have  22 missing values in the column MONTH
I have  22 missing values in the column flag

,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,PRESSURE_MAX_MB,...,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,DAY,MONTH,flag
DATE,,,,,,,,,,,,,,,,,,,,,
2018-01-01,12,8,61,9,11,8,8.9,79,9.500,1018,...,8,7,None,None,None,5.1,none,1,1,False
2018-01-02,13,6,26,8,12,13,0.6,96,9.000,1020,...,12,6,None,None,None,3.3,none,2,1,False
2018-01-03,15,10,40,11,12,10,5.5,82,8.500,1017,...,13,7,None,None,None,3.3,none,3,1,False
2018-01-04,14,11,45,14,14,11,0.0,89,10.000,1011,...,12,10,None,None,None,3.3,none,4,1,False
2018-01-05,12,7,21,10,11,8,1.5,85,9.875,1005,...,10,7,None,None,None,6.9,none,5,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,7,2,6,2,6,5,0.0,85,10.000,1027,...,6,3,None,None,None,8.7,none,27,12,False
2018-12-28,7,2,8,2,7,3,0.0,89,8.000,1035,...,4,4,None,None,None,8.7,none,28,12,False
2018-12-29,7,1,6,1,6,4,0.0,94,7.000,1038,...,5,1,None,None,None,8.7,none,29,12,False
2018-12-30,9,4,6,5,9,8,0.1,95,6.000,1038,...,9,7,None,None,None,3.3,none,30,12,False
2018-12-31,9,5,10,5,9,6,0.0,95,6.000,1038,...,7,5,None,None,None,8.7,none,31,12,False

## Execution with a loop
You will execute your function in a 9 rounds loop, once per year, and agregate this in a new big DataFrame with 24 columns and lots of rows.

In [179]:
# Each year between 2010 and 2018 (included) has 2 sources : weather_main_YYYY.csv and weather_opinion_YYYY.csv

# for year in range(2010, 2019):
dftotal = create_df_wild_with2date(2010, 2019)

In [180]:
dftotal.shape

(365, 20)

In [ ]:
add_col_and_fill(dftotal)

In [ ]:
# test fonction info
info_dataframe(dftotal)

## Add 2019 to 2022

In [ ]:
# Each year since 2019 (included) has 1 source : weatherYYYY.csv
# Chaque année depuis 2019 (inclus) a une seule source avec ce format de nom de fichier : weatherYYYY.csv
link2019 = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather2019.csv"

# Draw a scatterplot
With Date on X-Axis and Max Temperature on Y-axis

The result must have 13 seasonality for the 13 summers/winters alternance.


Find appropriate dataviz to answer to this question :

Which year had the best weather? Are years very different or not ?

## SOURCES

### Application des mêmes filtres et merge que pour la base df2018