# Function to automatic merge and fill missing values


## Create the function
You have to create a function which take 2 arguments :
- argument 1 : DataFrame main
- argument 2 : DataFrame opinion

Your function will return a new DataFrame which is the left merge of both DataFrames, and which has no missing values (so your function has to fill them), add new columns (flag, MONTH and DAY), and OPINION should be translated.

So you have to copy each useful code from the previous quests, and integrate it into a function. **This should achieve the same results as the previous quests.**

In [12]:
import pandas as pd
link_main = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_main_2018.csv"
link_opinion = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_opinion_2018.csv"
df_main = pd.read_csv(link_main)
df_opinion = pd.read_csv(link_opinion)
print(df_main.head())
print(df_opinion.head())

         DATE  MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
0  2018-01-01                 12                  8                 61
1  2018-01-02                 13                  6                 26
2  2018-01-03                 15                 10                 40
3  2018-01-04                 14                 11                 45
4  2018-01-05                 12                  7                 21

   TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
0                      9                  11                      8
1                      8                  12                     13
2                     11                  12                     10
3                     14                  14                     11
4                     10                  11                      8

   PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
0                  8.9                    79              9.500
1                  0.6                    96              9.000
2                  5.5                    82              8.500
3                  0.0                    89             10.000
4                  1.5                    85              9.875

   PRESSURE_MAX_MB  CLOUDCOVER_AVG_PERCENT  HEATINDEX_MAX_C  DEWPOINT_MAX_C  \
0             1018                  41.750               12               8
1             1020                  87.875               13              12
2             1017                  91.500               15              13
3             1011                  90.125               14              12
4             1005                  62.375               12              10

   WINDTEMP_MAX_C
0               7
1               6
2               7
3              10
4               7
         date  WEATHER_CODE_EVENING  TOTAL_SNOW_MM  UV_INDEX  SUNHOUR OPINION
0  2018-01-01                   113              0         3      5.1     bad
1  2018-03-12                   119              0         2      8.8     bad
2  2018-03-09                   116              0         3     10.2     bad
3  2018-10-07                   122              0         1      5.6     bad
4  2018-06-18                   119              0         1     12.9     bad

In [13]:
import pandas as pd
# debug function
# start_year, end_year = 2017, 2020
"""
Fonction qui entre une place de 2 dates, crée le dataframe en mergeant puis concantenant les dataframe en fonction de leur date, les liens github étant différent entre la plage avant 2019 il faut merge 2 fichier main et opinion, aprés 2019 les fichiers sont deja mergés
Pour faire le merge il renomme aussi la colonne 'date' de opinion en 'DATE'
"""


def create_df_wild_with2date(start_year, end_year):

    import pandas as pd
    # Initiate an empty DataFrame
    dftotal = pd.DataFrame()

    df_year = pd.DataFrame()

    # Collect both DataFrames each year

    plage_year = [year for year in range(start_year, end_year)]
    for var_year in plage_year:
        year = str(var_year)
        if var_year < 2019:
            # print(var_year)
            year = str(var_year)
            link_main = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_main_" + year + ".csv"
            link_opinion = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather_opinion_" + year + ".csv"
            df_main = pd.read_csv(link_main)
            df_opinion = pd.read_csv(link_opinion)
            # Apply your merge, cleaning and fillna function on the current year
            df_year = mergeDF(df_main, df_opinion)
            dftotal = pd.concat([dftotal, df_year])
        if var_year >= 2019:
            # for var_year in plage_year:
            # year = str(var_year)
            # Chaque année depuis 2019 (inclus) a une seule source avec ce format de nom de fichier : weatherYYYY.csv
            link_year_up2019 = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather" + year + ".csv"
            df_year_up2019 = pd.read_csv(link_year_up2019)
            # df_year_up2019 = df_year.rename(
            #     columns={'date': 'DATE'}, inplace=True)
            # Concat with the global DF
            dftotal = pd.concat([dftotal, df_year_up2019])

    return dftotal


def mergeDF(df_main, df_opinion):
    df_opinion.rename(columns={'date': 'DATE'}, inplace=True)
    dfnew = pd.merge(left=df_main,
                     right=df_opinion,
                     left_on='DATE',
                     right_on="DATE",
                     how='left')
    # on va renommer la colonne date avec le meme format que la table main
    # liste_colonnes_opinion = df_opinion.columns.to_list()
    # print(liste_colonnes_opinion)
    return dfnew

In [14]:
# dftotal = create_df_wild_with2date(2017, 2018)

In [15]:
# mergeDF(df_main, df_opinion)

In [16]:
dftotal = create_df_wild_with2date(2017, 2020)

### INFOS SUR LE DATASET

In [32]:
# INFOS SUR LE DATASET
"""fonction resumant les informations essentielles à connaittre sur un dataset
"""


def info_dataframe(dataframe):
    df = dataframe
    print("\ntaille: ", df.size, "valeurs.", " \nDimensions:", df.shape)
    print("\nNombre de na:", df.isna().all().size,
          "\nNombre de null:", df.isnull().all().size)
    print("\nliste nom des colonnes: \n", df.columns)
    print("\nliste colonnes comportant des NA: \n", df[df.isna()].columns)
    try:
        print("\nliste nom des valeurs uniques par ligne: \n",
              df[df.iloc[:, 1:]].value.unique())
        for col in df.columns[1:]:
            if df[col].dtype == 'object' and df[col].dtype != 'int*' and df[col].dtype != 'float*':
                print(f"\nValeurs uniques pour {col} : \n", df[col].unique())
    except:
        print("\nil y a trop de colonnes pour sortir les valeurs uniques de chacunes\n")
        # pass
    try:
        print("\nInfo")
        print(df.info())
        print("\nDescribe")
        print(df.describe())
        print("\nHead")
        print(df.head(5))
    except:
        print("dataFrame inexploitable, veuillez le verifier")
    return

In [18]:
# test fonction info
info_dataframe(dftotal)

taille:  26280 valeurs.
Dimensions: (1095, 24)

Nombre de na: 24
Nombre de null: 24

liste nom des colonnes:
 Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION',
       'WEATHER_CODE_MORNING', 'WEATHER_CODE_NOON', 'MONTH', 'DAY'],
      dtype='object')

liste colonnes comportant des NA:
 Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION',
       'WEATHER_CODE_MORNING', 'WEATHER_CODE_NOON', 'MONTH', 'DAY'],
      dtype='object')

il y a trop de colonnes pour sortir les valeurs uniques de chacunes


Info
<class 'pandas.core.frame.DataFrame'>
Index: 1095 entries, 0 to 364
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    1095 non-null   object
 1   MAX_TEMPERATURE_C       1095 non-null   int64
 2   MIN_TEMPERATURE_C       1095 non-null   int64
 3   WINDSPEED_MAX_KMH       1095 non-null   int64
 4   TEMPERATURE_MORNING_C   1095 non-null   int64
 5   TEMPERATURE_NOON_C      1095 non-null   int64
 6   TEMPERATURE_EVENING_C   1095 non-null   int64
 7   PRECIP_TOTAL_DAY_MM     1095 non-null   float64
 8   HUMIDITY_MAX_PERCENT    1095 non-null   int64
 9   VISIBILITY_AVG_KM       1095 non-null   float64
 10  PRESSURE_MAX_MB         1095 non-null   int64
 11  CLOUDCOVER_AVG_PERCENT  1095 non-null   float64
 12  HEATINDEX_MAX_C         1095 non-null   int64
 13  DEWPOINT_MAX_C          1095 non-null   int64
 14  WINDTEMP_MAX_C          1095 non-null   int64
 15  WEATHER_CODE_EVENING    1047 non-null   float64
 16  TOTAL_SNOW_MM           1047 non-null   float64
 17  UV_INDEX                1047 non-null   float64
 18  SUNHOUR                 1047 non-null   float64
 19  OPINION                 1047 non-null   object
 20  WEATHER_CODE_MORNING    365 non-null    float64
 21  WEATHER_CODE_NOON       365 non-null    float64
 22  MONTH                   365 non-null    float64
 23  DAY                     365 non-null    float64
dtypes: float64(11), int64(11), object(2)
memory usage: 213.9+ KB
None

Describe
       MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
count        1095.000000        1095.000000        1095.000000
mean           16.729680           9.048402          19.215525
std             6.624561           5.156636           8.402421
min             1.000000          -6.000000           3.000000
25%            12.000000           5.000000          13.000000
50%            16.000000           9.000000          18.000000
75%            22.000000          13.000000          24.000000
max            39.000000          25.000000          61.000000

       TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
count            1095.000000         1095.000000            1095.000000
mean               10.103196           15.926941              14.079452
std                 5.472161            6.532310               6.800506
min                -6.000000            0.000000              -4.000000
25%                 6.000000           11.000000               9.000000
50%                10.000000           15.000000              13.000000
75%                14.000000           21.000000              19.000000
max                25.000000           36.000000              37.000000

       PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
count          1095.000000           1095.000000        1095.000000
mean              1.633242             78.782648           9.267580
std               3.813683             11.161449           1.595841
min               0.000000             32.000000           2.750000
25%               0.000000             71.000000           8.625000
50%               0.100000             80.000000           9.750000
75%               1.500000             88.000000          10.000000
max              47.600000             98.000000          20.000000

       PRESSURE_MAX_MB  ...  DEWPOINT_MAX_C  WINDTEMP_MAX_C  \
count      1095.000000  ...     1095.000000     1095.000000
mean       1019.757078  ...       11.326027       11.760731
std           8.287310  ...        4.856874        7.585546
min         987.000000  ...        0.000000      -11.000000
25%        1015.000000  ...        8.000000        6.000000
50%        1020.000000  ...       11.000000       11.000000
75%        1025.000000  ...       15.000000       18.000000
max        1041.000000  ...       25.000000       30.000000

       WEATHER_CODE_EVENING  TOTAL_SNOW_MM     UV_INDEX      SUNHOUR  \
count           1047.000000         1047.0  1047.000000  1047.000000
mean             140.286533            0.0     1.330468     9.759981
std               60.447361            0.0     1.024396     3.530183
min              113.000000            0.0     1.000000     3.300000
25%              113.000000            0.0     1.000000     7.000000
50%              116.000000            0.0     1.000000    10.100000
75%              122.000000            0.0     1.000000    11.600000
max              389.000000            0.0     7.000000    16.000000

       WEATHER_CODE_MORNING  WEATHER_CODE_NOON       MONTH         DAY
count            365.000000         365.000000  365.000000  365.000000
mean             168.512329         164.419178    6.526027   15.720548
std               77.739513          78.205120    3.452584    8.808321
min              113.000000         113.000000    1.000000    1.000000
25%              116.000000         116.000000    4.000000    8.000000
50%              122.000000         119.000000    7.000000   16.000000
75%              176.000000         176.000000   10.000000   23.000000
max              386.000000         353.000000   12.000000   31.000000

[8 rows x 22 columns]

Head
         DATE  MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
0  2017-01-01                  6                 -2                 19
1  2017-01-02                  7                  2                 10
2  2017-01-03                  4                 -2                 14
3  2017-01-04                  7                 -2                 13
4  2017-01-05                  6                  0                 11

   TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
0                      0                   5                      5
1                      4                   7                      4
2                     -2                   3                     -1
3                     -1                   7                      5
4                      2                   6                      1

   PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  ...  \
0                  0.3                    90                9.0  ...
1                  0.1                    89               10.0  ...
2                  0.0                    92               10.0  ...
3                  0.0                    78               10.0  ...
4                  0.0                    92                8.0  ...

   WINDTEMP_MAX_C  WEATHER_CODE_EVENING  TOTAL_SNOW_MM  UV_INDEX  SUNHOUR  \
0              -1                 122.0            0.0       1.0      3.3
1               1                 119.0            0.0       1.0      5.1
2              -6                 113.0            0.0       1.0      8.7
3              -1                 122.0            0.0       1.0      6.9
4              -1                 113.0            0.0       1.0      8.7

    OPINION  WEATHER_CODE_MORNING  WEATHER_CODE_NOON  MONTH DAY
0  very bad                   NaN                NaN    NaN NaN
1  very bad                   NaN                NaN    NaN NaN
2  very bad                   NaN                NaN    NaN NaN
3  very bad                   NaN                NaN    NaN NaN
4  very bad                   NaN                NaN    NaN NaN

[5 rows x 24 columns]

## MAKE A FUNCTION TO CREATE DATAFRAMES

In [19]:
# test
try:
    print(dftotal["DATE"])
except:
    print(dftotal.index)

0      2017-01-01
1      2017-01-02
2      2017-01-03
3      2017-01-04
4      2017-01-05
          ...
360    2019-12-27
361    2019-12-28
362    2019-12-29
363    2019-12-30
364    2019-12-31
Name: DATE, Length: 1095, dtype: object

In [58]:
# def merge_and_fill(DataFrameMain, DataFrameOpinion):
"""
Cette fonction ajoute les colonnes FLAG, DAY and MONTH, puis traite les na et enfin traduit en francais les appréciations de OPINION
"""


def add_col_and_fill(dftotal):
    import numpy as np
    # Initialisation du dataframe de sortie
    df = pd.DataFrame
    df = dftotal
    #
    # MERGE déja intégré dans la fonction create_df_wild_with2date()
    #  formatage colonne date en date, si déja fait on ne fait pas
    try:
        df['DATE'] = pd.to_datetime(df['DATE'])
        df.set_index('DATE', inplace=True)
    except:

        pass
    # FILL IN MISSING VALUES
    # remplacement de na par 0
    liste_colonnes_nulle = ["TOTAL_SNOW_MM", ]
    for column_name in liste_colonnes_nulle:
        df[column_name] = df[column_name].fillna(0, inplace=True)
    # remplacement de na par la valeur mediane
    liste_colonnes_mediane = ["WEATHER_CODE_EVENING"]
    for column_name in liste_colonnes_mediane:
        median_value = df[column_name].median()
        df[column_name] = df[column_name].fillna(median_value, inplace=True)
    # "UV_INDEX"
    # remplacement de na par bfill et ffill
    liste_colonnes_mediane = ["UV_INDEX"]
    for column_name in liste_colonnes_mediane:
        df[column_name] = df[column_name].fillna(method='ffill', inplace=True)
        df[column_name] = df[column_name].fillna(method='bfill', inplace=True)
        # Remplir les valeurs manquantes restantes avec 0
        df[column_name] = df[column_name].fillna(0, inplace=True)
    # ADD NEW COLUMNS
    try:
        # ajout colonne DAY
        df['DAY'] = df.index.day
        # ajout colonne Month
        df['MONTH'] = df.index.month
        # colonne flag
        df['flag'] = df['OPINION'].isna()
        df['flag'].value_counts()
    except:

        pass
    # "OPINION"
    # remplacement de na par unknown
    liste_colonnes_mediane = ["OPINION"]
    for column_name in liste_colonnes_mediane:
        df[column_name] = df[column_name].fillna("unknown", inplace=True)
    # remplacement des valeurs manquantes des colonnes int ou float par 0
    # sinon remplacement des valeurs manquantes des colonnes objet par unkwon
    for column in df.columns[df.isna().all()]:
        if np.issubdtype(df[column].dtype, np.number):
            df[column].fillna(0, inplace=True)
        # else:
        #     df[column].fillna("unknown", inplace=True)
    #  Verification qu'il ne reste plus de valeurs na
    # for column in df.columns:
    #     print("I have ", df.isna().all().size,
    #           "missing values in the column", column)
    # TRANSLATE OPINION
    df['OPINION'] = df['OPINION'].apply(translate)


    return df


def translate(opinion):
    try:
        # nettoyage et typage de la variable
        opinion = str(opinion).strip().lower()
        # print(opinion)
        translations = {
            "very bad": "très mauvais",
            "bad": "mauvais",
            "not good not bad": "ni bon ni mauvais",
            "good": "bon",
            "very good": "très bon"
        }

        return translations[opinion]

    except KeyError:
        return opinion

In [21]:
# test de la fonction
# add_col_and_fill(dftotal)

## Execution with a loop
You will execute your function in a 9 rounds loop, once per year, and agregate this in a new big DataFrame with 24 columns and lots of rows.

In [22]:
# Each year between 2010 and 2018 (included) has 2 sources : weather_main_YYYY.csv and weather_opinion_YYYY.csv

# for year in range(2010, 2019):
dftotal = create_df_wild_with2date(2010, 2019)

In [23]:
dftotal.shape

(3287, 20)

In [61]:
add_col_and_fill(dftotal)

c:\ProgramData\Anaconda3\Lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,PRESSURE_MAX_MB,...,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,DAY,MONTH,flag
DATE,,,,,,,,,,,,,,,,,,,,,
2010-01-01,5,2,19,2,5,3,0.0,86,10.000,1012,...,3,-1,None,None,None,5.1,none,1,1,False
2010-01-02,5,-1,6,-1,4,1,0.0,78,10.000,1022,...,0,2,None,None,None,8.7,none,2,1,False
2010-01-03,5,1,26,2,4,2,0.3,61,9.875,1021,...,0,-3,None,None,None,6.9,none,3,1,False
2010-01-04,1,-4,25,-2,0,-3,0.0,75,10.000,1017,...,0,-9,None,None,None,8.7,none,4,1,False
2010-01-05,2,-5,20,-5,1,-4,0.0,71,10.000,1012,...,0,-10,None,None,None,8.7,none,5,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,7,2,6,2,6,5,0.0,85,10.000,1027,...,6,3,None,None,None,8.7,none,27,12,False
2018-12-28,7,2,8,2,7,3,0.0,89,8.000,1035,...,4,4,None,None,None,8.7,none,28,12,False
2018-12-29,7,1,6,1,6,4,0.0,94,7.000,1038,...,5,1,None,None,None,8.7,none,29,12,False
2018-12-30,9,4,6,5,9,8,0.1,95,6.000,1038,...,9,7,None,None,None,3.3,none,30,12,False
2018-12-31,9,5,10,5,9,6,0.0,95,6.000,1038,...,7,5,None,None,None,8.7,none,31,12,False

In [25]:
# test fonction info
info_dataframe(dftotal)

taille:  72314 valeurs.
Dimensions: (3287, 22)

Nombre de na: 22
Nombre de null: 22

liste nom des colonnes:
 Index(['MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION', 'DAY', 'MONTH',
       'flag'],
      dtype='object')

liste colonnes comportant des NA:
 Index(['MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION', 'DAY', 'MONTH',
       'flag'],
      dtype='object')

il y a trop de colonnes pour sortir les valeurs uniques de chacunes


Info
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3287 entries, 2010-01-01 to 2018-12-31
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MAX_TEMPERATURE_C       3287 non-null   int64
 1   MIN_TEMPERATURE_C       3287 non-null   int64
 2   WINDSPEED_MAX_KMH       3287 non-null   int64
 3   TEMPERATURE_MORNING_C   3287 non-null   int64
 4   TEMPERATURE_NOON_C      3287 non-null   int64
 5   TEMPERATURE_EVENING_C   3287 non-null   int64
 6   PRECIP_TOTAL_DAY_MM     3287 non-null   float64
 7   HUMIDITY_MAX_PERCENT    3287 non-null   int64
 8   VISIBILITY_AVG_KM       3287 non-null   float64
 9   PRESSURE_MAX_MB         3287 non-null   int64
 10  CLOUDCOVER_AVG_PERCENT  3287 non-null   float64
 11  HEATINDEX_MAX_C         3287 non-null   int64
 12  DEWPOINT_MAX_C          3287 non-null   int64
 13  WINDTEMP_MAX_C          3287 non-null   int64
 14  WEATHER_CODE_EVENING    0 non-null      object
 15  TOTAL_SNOW_MM           0 non-null      object
 16  UV_INDEX                0 non-null      object
 17  SUNHOUR                 3108 non-null   float64
 18  OPINION                 3287 non-null   object
 19  DAY                     3287 non-null   int32
 20  MONTH                   3287 non-null   int32
 21  flag                    3287 non-null   bool
dtypes: bool(1), float64(4), int32(2), int64(11), object(4)
memory usage: 542.5+ KB
None

Describe
       MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
count        3287.000000        3287.000000        3287.000000
mean           16.344083           8.212352          18.941892
std             6.405876           5.245401           8.172440
min            -3.000000         -11.000000           3.000000
25%            12.000000           5.000000          13.000000
50%            16.000000           9.000000          18.000000
75%            21.000000          12.000000          23.000000
max            35.000000          21.000000          61.000000

       TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
count            3287.000000         3287.000000            3287.000000
mean                9.460602           15.843931              13.038333
std                 5.543735            6.356304               6.616280
min               -11.000000           -4.000000              -6.000000
25%                 6.000000           11.000000               8.000000
50%                10.000000           16.000000              13.000000
75%                14.000000           21.000000              18.000000
max                24.000000           34.000000              34.000000

       PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
count          3287.000000           3287.000000        3287.000000
mean              0.928537             78.093094           8.921699
std               2.035096             12.283989           1.351292
min               0.000000             32.000000           2.250000
25%               0.000000             69.000000           8.000000
50%               0.000000             79.000000           9.500000
75%               0.800000             88.000000          10.000000
max              25.900000            100.000000          10.000000

       PRESSURE_MAX_MB  CLOUDCOVER_AVG_PERCENT  HEATINDEX_MAX_C  \
count      3287.000000             3287.000000      3287.000000
mean       1019.770611               43.584576        16.992699
std           8.088920               26.237809         6.945265
min         978.000000                0.000000         0.000000
25%        1015.000000               21.687500        12.000000
50%        1020.000000               42.625000        16.000000
75%        1025.000000               63.000000        24.000000
max        1043.000000              100.000000        39.000000

       DEWPOINT_MAX_C  WINDTEMP_MAX_C      SUNHOUR          DAY        MONTH
count     3287.000000     3287.000000  3108.000000  3287.000000  3287.000000
mean        10.991482       11.676301    10.092857    15.728628     6.523274
std          4.869626        7.774273     3.332317     8.801004     3.449133
min          0.000000      -15.000000     3.300000     1.000000     1.000000
25%          8.000000        6.000000     8.300000     8.000000     4.000000
50%         11.000000       12.000000    10.300000    16.000000     7.000000
75%         15.000000       18.000000    11.600000    23.000000    10.000000
max         24.000000       30.000000    16.000000    31.000000    12.000000

Head
            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
DATE
2010-01-01                  5                  2                 19
2010-01-02                  5                 -1                  6
2010-01-03                  5                  1                 26
2010-01-04                  1                 -4                 25
2010-01-05                  2                 -5                 20

            TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
DATE
2010-01-01                      2                   5                      3
2010-01-02                     -1                   4                      1
2010-01-03                      2                   4                      2
2010-01-04                     -2                   0                     -3
2010-01-05                     -5                   1                     -4

            PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
DATE
2010-01-01                  0.0                    86             10.000
2010-01-02                  0.0                    78             10.000
2010-01-03                  0.3                    61              9.875
2010-01-04                  0.0                    75             10.000
2010-01-05                  0.0                    71             10.000

            PRESSURE_MAX_MB  ...  DEWPOINT_MAX_C  WINDTEMP_MAX_C  \
DATE                         ...
2010-01-01             1012  ...               3              -1
2010-01-02             1022  ...               0               2
2010-01-03             1021  ...               0              -3
2010-01-04             1017  ...               0              -9
2010-01-05             1012  ...               0             -10

            WEATHER_CODE_EVENING  TOTAL_SNOW_MM UV_INDEX SUNHOUR OPINION  DAY  \
DATE
2010-01-01                  None           None     None     5.1    none    1
2010-01-02                  None           None     None     8.7    none    2
2010-01-03                  None           None     None     6.9    none    3
2010-01-04                  None           None     None     8.7    none    4
2010-01-05                  None           None     None     8.7    none    5

           MONTH   flag
DATE
2010-01-01     1  False
2010-01-02     1  False
2010-01-03     1  False
2010-01-04     1  False
2010-01-05     1  False

[5 rows x 22 columns]

## Add 2019 to 2022

In [26]:
# Each year since 2019 (included) has 1 source : weatherYYYY.csv
# Chaque année depuis 2019 (inclus) a une seule source avec ce format de nom de fichier : weatherYYYY.csv
link2019 = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather2019.csv"

In [42]:
def compile_dataframe_and_fill(year1, year2):
    # del dftotal
    dftotal_big = pd.DataFrame
    dftotal_big = create_df_wild_with2date(year1, year2)
    dftotal_big = add_col_and_fill(dftotal_big)
    return dftotal_big

In [65]:
dftotal_big = compile_dataframe_and_fill(2010, 2023)

# Draw a scatterplot
With Date on X-Axis and Max Temperature on Y-axis

The result must have 13 seasonality for the 13 summers/winters alternance.

In [66]:
dftotal_big.shape

(4748, 27)

In [ ]:
dftotal_big['YEAR'].info()

In [64]:
info_dataframe(dftotal_big)

taille:  72314 valeurs.
Dimensions: (3287, 22)

Nombre de na: 22
Nombre de null: 22

liste nom des colonnes:
 Index(['MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION', 'DAY', 'MONTH',
       'flag'],
      dtype='object')

liste colonnes comportant des NA:
 Index(['MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION', 'DAY', 'MONTH',
       'flag'],
      dtype='object')

il y a trop de colonnes pour sortir les valeurs uniques de chacunes


Info
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3287 entries, 2010-01-01 to 2018-12-31
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MAX_TEMPERATURE_C       3287 non-null   int64
 1   MIN_TEMPERATURE_C       3287 non-null   int64
 2   WINDSPEED_MAX_KMH       3287 non-null   int64
 3   TEMPERATURE_MORNING_C   3287 non-null   int64
 4   TEMPERATURE_NOON_C      3287 non-null   int64
 5   TEMPERATURE_EVENING_C   3287 non-null   int64
 6   PRECIP_TOTAL_DAY_MM     3287 non-null   float64
 7   HUMIDITY_MAX_PERCENT    3287 non-null   int64
 8   VISIBILITY_AVG_KM       3287 non-null   float64
 9   PRESSURE_MAX_MB         3287 non-null   int64
 10  CLOUDCOVER_AVG_PERCENT  3287 non-null   float64
 11  HEATINDEX_MAX_C         3287 non-null   int64
 12  DEWPOINT_MAX_C          3287 non-null   int64
 13  WINDTEMP_MAX_C          3287 non-null   int64
 14  WEATHER_CODE_EVENING    0 non-null      object
 15  TOTAL_SNOW_MM           0 non-null      object
 16  UV_INDEX                0 non-null      object
 17  SUNHOUR                 3108 non-null   float64
 18  OPINION                 3287 non-null   object
 19  DAY                     3287 non-null   int32
 20  MONTH                   3287 non-null   int32
 21  flag                    3287 non-null   bool
dtypes: bool(1), float64(4), int32(2), int64(11), object(4)
memory usage: 542.5+ KB
None

Describe
       MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
count        3287.000000        3287.000000        3287.000000
mean           16.344083           8.212352          18.941892
std             6.405876           5.245401           8.172440
min            -3.000000         -11.000000           3.000000
25%            12.000000           5.000000          13.000000
50%            16.000000           9.000000          18.000000
75%            21.000000          12.000000          23.000000
max            35.000000          21.000000          61.000000

       TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
count            3287.000000         3287.000000            3287.000000
mean                9.460602           15.843931              13.038333
std                 5.543735            6.356304               6.616280
min               -11.000000           -4.000000              -6.000000
25%                 6.000000           11.000000               8.000000
50%                10.000000           16.000000              13.000000
75%                14.000000           21.000000              18.000000
max                24.000000           34.000000              34.000000

       PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
count          3287.000000           3287.000000        3287.000000
mean              0.928537             78.093094           8.921699
std               2.035096             12.283989           1.351292
min               0.000000             32.000000           2.250000
25%               0.000000             69.000000           8.000000
50%               0.000000             79.000000           9.500000
75%               0.800000             88.000000          10.000000
max              25.900000            100.000000          10.000000

       PRESSURE_MAX_MB  CLOUDCOVER_AVG_PERCENT  HEATINDEX_MAX_C  \
count      3287.000000             3287.000000      3287.000000
mean       1019.770611               43.584576        16.992699
std           8.088920               26.237809         6.945265
min         978.000000                0.000000         0.000000
25%        1015.000000               21.687500        12.000000
50%        1020.000000               42.625000        16.000000
75%        1025.000000               63.000000        24.000000
max        1043.000000              100.000000        39.000000

       DEWPOINT_MAX_C  WINDTEMP_MAX_C      SUNHOUR          DAY        MONTH
count     3287.000000     3287.000000  3108.000000  3287.000000  3287.000000
mean        10.991482       11.676301    10.092857    15.728628     6.523274
std          4.869626        7.774273     3.332317     8.801004     3.449133
min          0.000000      -15.000000     3.300000     1.000000     1.000000
25%          8.000000        6.000000     8.300000     8.000000     4.000000
50%         11.000000       12.000000    10.300000    16.000000     7.000000
75%         15.000000       18.000000    11.600000    23.000000    10.000000
max         24.000000       30.000000    16.000000    31.000000    12.000000

Head
            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH  \
DATE
2010-01-01                  5                  2                 19
2010-01-02                  5                 -1                  6
2010-01-03                  5                  1                 26
2010-01-04                  1                 -4                 25
2010-01-05                  2                 -5                 20

            TEMPERATURE_MORNING_C  TEMPERATURE_NOON_C  TEMPERATURE_EVENING_C  \
DATE
2010-01-01                      2                   5                      3
2010-01-02                     -1                   4                      1
2010-01-03                      2                   4                      2
2010-01-04                     -2                   0                     -3
2010-01-05                     -5                   1                     -4

            PRECIP_TOTAL_DAY_MM  HUMIDITY_MAX_PERCENT  VISIBILITY_AVG_KM  \
DATE
2010-01-01                  0.0                    86             10.000
2010-01-02                  0.0                    78             10.000
2010-01-03                  0.3                    61              9.875
2010-01-04                  0.0                    75             10.000
2010-01-05                  0.0                    71             10.000

            PRESSURE_MAX_MB  ...  DEWPOINT_MAX_C  WINDTEMP_MAX_C  \
DATE                         ...
2010-01-01             1012  ...               3              -1
2010-01-02             1022  ...               0               2
2010-01-03             1021  ...               0              -3
2010-01-04             1017  ...               0              -9
2010-01-05             1012  ...               0             -10

            WEATHER_CODE_EVENING  TOTAL_SNOW_MM UV_INDEX SUNHOUR OPINION  DAY  \
DATE
2010-01-01                  None           None     None     5.1    none    1
2010-01-02                  None           None     None     8.7    none    2
2010-01-03                  None           None     None     6.9    none    3
2010-01-04                  None           None     None     8.7    none    4
2010-01-05                  None           None     None     8.7    none    5

           MONTH   flag
DATE
2010-01-01     1  False
2010-01-02     1  False
2010-01-03     1  False
2010-01-04     1  False
2010-01-05     1  False

[5 rows x 22 columns]

In [78]:
dftotal_big = compile_dataframe_and_fill(2018, 2019)
dftotal_big2 = compile_dataframe_and_fill(2022, 2023)


# Compare la liste des colonnes entre 2 dataframe et donne les différences
def compare_colonnes_2_df(df1, df2):

    liste1 = df1.columns.tolist()
    # print("list1:", liste1)
    liste1 = set(liste1)
    # print("list1:", liste1)
    liste2 = df2.columns.tolist()
    liste2 = set(liste2)
    # Trouvez les valeurs qui sont différentes entre les deux listes
    diff1 = list(set(liste1) - set(liste2))
    diff2 = list(set(liste2) - set(liste1))

    # Imprimez les valeurs qui sont différentes
    print("Valeurs dans list1 mais pas dans list2:", diff1, "\n")
    print("Valeurs dans list2 mais pas dans list1:", diff2, "\n")
    print("list1:", liste1)
    print(" list2:", liste2)
    return


# test fonction
compare_colonnes_2_df(dftotal_big,  dftotal_big2)

Valeurs dans list1 mais pas dans list2:
 []

Valeurs dans list2 mais pas dans list1:
 ['SUNSET', 'SUNRISE', 'WEATHER_CODE_NOON', 'TEMPERATURE_NIGHT_C', 'WEATHER_CODE_MORNING']

list1: {'CLOUDCOVER_AVG_PERCENT', 'SUNHOUR', 'WEATHER_CODE_EVENING', 'MIN_TEMPERATURE_C', 'PRECIP_TOTAL_DAY_MM', 'DAY', 'UV_INDEX', 'WINDTEMP_MAX_C', 'MAX_TEMPERATURE_C', 'MONTH', 'HEATINDEX_MAX_C', 'WINDSPEED_MAX_KMH', 'TEMPERATURE_NOON_C', 'PRESSURE_MAX_MB', 'TEMPERATURE_MORNING_C', 'VISIBILITY_AVG_KM', 'OPINION', 'TOTAL_SNOW_MM', 'DEWPOINT_MAX_C', 'HUMIDITY_MAX_PERCENT', 'TEMPERATURE_EVENING_C', 'flag'}
 list2: {'CLOUDCOVER_AVG_PERCENT', 'SUNHOUR', 'WEATHER_CODE_EVENING', 'MIN_TEMPERATURE_C', 'WEATHER_CODE_MORNING', 'PRECIP_TOTAL_DAY_MM', 'DAY', 'SUNSET', 'UV_INDEX', 'WINDTEMP_MAX_C', 'MAX_TEMPERATURE_C', 'TEMPERATURE_NIGHT_C', 'MONTH', 'HEATINDEX_MAX_C', 'SUNRISE', 'WEATHER_CODE_NOON', 'WINDSPEED_MAX_KMH', 'TEMPERATURE_NOON_C', 'PRESSURE_MAX_MB', 'TEMPERATURE_MORNING_C', 'VISIBILITY_AVG_KM', 'OPINION', 'TOTAL_SNOW_MM', 'DEWPOINT_MAX_C', 'HUMIDITY_MAX_PERCENT', 'TEMPERATURE_EVENING_C', 'flag'}

In [81]:
import matplotlib.pyplot as plt
import pandas as pd
del dftotal_big
dftotal_big = compile_dataframe_and_fill(2010, 2023)
dftotal_2 = dftotal_big.copy()
# column_name='MAX_TEMPERATURE_C'
# df = dftotal_2
# df[column_name] = df[column_name].fillna(method='ffill', inplace=True)
# df[column_name] = df[column_name].fillna(method='bfill', inplace=True)
# Remplir les valeurs manquantes restantes avec 0
# df[column_name] = df[column_name].fillna(0, inplace=True)

# Assurez-vous que votre colonne 'DATE' est au format datetime
dftotal_2['DATE'] = pd.to_datetime(dftotal_2['DATE'], errors='coerce')
# Créez une nouvelle colonne 'YEAR' en extrayant l'année de la colonne 'DATE'
dftotal_2['YEAR'] = dftotal_2['DATE'].dt.year

# Triez votre DataFrame par année
# dftotal_2 = dftotal_2.sort_values('YEAR')

# Créez le scatterplot
plt.figure(figsize=(10, 6))
plt.scatter(dftotal_2['YEAR'], dftotal_2['MAX_TEMPERATURE_C'])

# Définissez les titres et les labels
plt.title('Scatterplot of MAX_TEMPERATURE_C over time')
plt.xlabel('Year')
plt.ylabel('MAX_TEMPERATURE_C')

# Affichez le scatterplot
plt.show()

KeyError: 'DATE'


Find appropriate dataviz to answer to this question :

Which year had the best weather? Are years very different or not ?

## SOURCES

### Application des mêmes filtres et merge que pour la base df2018