In [22]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

df = pd.read_csv("G:\\programmation\\WildCodeSchool\\Formation_IA_DATA_nov2023\\quêtes\\Semaine3\\live_coding\\Base_de_données_et_SQL\\Data_Immo.csv",
                 sep=";", header=0, skiprows=1,encoding='ISO-8859-1')
# header=0 pour indiquer que la deuxiéme ligne contient les entetes
#  sep=";"pour indiquer que le séparateur est un ; et non  ,
#  pour eviter l'erreur d'encodage encoding='ISO-8859-1'
#  skiprows=1  pour eviter la premiere ligne qui dans notre cas contient des infos inutiles

C:\Users\romar\AppData\Local\Temp\ipykernel_7500\1344169189.py:5: DtypeWarning: Columns (20,26,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("G:\\programmation\\WildCodeSchool\\Formation_IA_DATA_nov2023\\quêtes\\Semaine3\\live_coding\\Base_de_données_et_SQL\\Data_Immo.csv",

In [23]:
df.head()  # Affiche les 5 premières lignes du DataFrame

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-02-03 00:00:00,Vente,...,NaN,1,2,Appartement,NaN,52,2,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-02 00:00:00,Vente,...,NaN,2,2,Appartement,NaN,48,3,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-08 00:00:00,Vente,...,NaN,2,2,Appartement,NaN,130,6,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-06 00:00:00,Vente,...,NaN,1,1,Maison,NaN,109,5,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-07 00:00:00,Vente,...,NaN,2,2,Appartement,NaN,91,4,NaN,NaN,NaN

In [24]:
print(df.shape)

(34169, 45)

In [25]:
df.info()  # Affiche un résumé concis du DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34169 entries, 0 to 34168
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Code service CH             0 non-null      float64
 1   Reference document          0 non-null      float64
 2   1 Articles CGI              0 non-null      float64
 3   2 Articles CGI              0 non-null      float64
 4   3 Articles CGI              0 non-null      float64
 5   4 Articles CGI              0 non-null      float64
 6   5 Articles CGI              0 non-null      float64
 7   No disposition              34169 non-null  int64
 8   Date mutation               34169 non-null  object
 9   Nature mutation             34169 non-null  object
 10  Valeur fonciere             34151 non-null  object
 11  No voie                     34036 non-null  float64
 12  B/T/Q                       2174 non-null   object
 13  Code type de voie           34169 non-null  int64
 14  Type de voie                33229 non-null  object
 15  Code voie                   34169 non-null  object
 16  Voie                        34169 non-null  object
 17  Code ID commune             34169 non-null  int64
 18  Code postal                 34168 non-null  float64
 19  Commune                     34169 non-null  object
 20  Code departement            34169 non-null  object
 21  Code commune                34169 non-null  int64
 22  Prefixe de section          1143 non-null   float64
 23  Section                     34168 non-null  object
 24  No plan                     34169 non-null  int64
 25  No Volume                   0 non-null      float64
 26  1er lot                     34169 non-null  object
 27  Surface Carrez du 1er lot   34169 non-null  object
 28  2eme lot                    0 non-null      float64
 29  Surface Carrez du 2eme lot  0 non-null      float64
 30  3eme lot                    0 non-null      float64
 31  Surface Carrez du 3eme lot  0 non-null      float64
 32  4eme lot                    0 non-null      float64
 33  Surface Carrez du 4eme lot  0 non-null      float64
 34  5eme lot                    0 non-null      float64
 35  Surface Carrez du 5eme lot  0 non-null      float64
 36  Nombre de lots              34169 non-null  int64
 37  Code type local             34169 non-null  int64
 38  Type local                  34169 non-null  object
 39  Identifiant local           0 non-null      float64
 40  Surface reelle bati         34169 non-null  int64
 41  Nombre pieces principales   34169 non-null  int64
 42  Nature culture              253 non-null    object
 43  Nature culture speciale     8 non-null      object
 44  Surface terrain             253 non-null    float64
dtypes: float64(21), int64(9), object(15)
memory usage: 11.7+ MB

In [17]:
df.describe()  # Affiche des statistiques descriptives du DataFrame

,No disposition,No voie,Code type de voie,Code ID commune,Code postal,Code commune,Prefixe de section,No plan,Nombre de lots,Code type local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,34169.000000,34036.000000,34169.000000,34169.000000,34168.000000,34169.000000,1143.000000,34169.000000,34169.000000,34169.000000,34169.000000,34169.000000,253.000000
mean,1.002312,450.483429,4.026574,2009.368931,62089.903243,190.210630,736.810149,279.596945,1.397963,1.918318,56.724458,2.616026,355.529644
std,0.049823,1712.852166,9.272656,1051.410563,28259.658901,167.448418,237.686643,462.204455,0.665012,0.273884,29.881797,1.222260,359.067670
min,1.000000,1.000000,0.000000,0.000000,1090.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,1.000000,8.000000,0.000000,1054.000000,38000.000000,68.000000,806.000000,52.000000,1.000000,2.000000,35.000000,2.000000,115.000000
50%,1.000000,22.000000,0.000000,2288.000000,75008.000000,120.000000,824.000000,141.000000,1.000000,2.000000,53.000000,3.000000,271.000000
75%,1.000000,66.000000,2.000000,3011.000000,83622.500000,275.000000,853.000000,333.000000,2.000000,2.000000,72.000000,3.000000,470.000000
max,3.000000,9999.000000,79.000000,3214.000000,97490.000000,899.000000,911.000000,7910.000000,17.000000,2.000000,379.000000,11.000000,2670.000000

In [26]:
# vérifie si toutes les valeurs d’une colonne sont manquantes (NaN).
colonnes_vides = df.columns[df.isnull().all()]
colonnes_vides
# autre solutions  vérifie si toutes les valeurs d’une colonne sont des chaînes vides ou des espaces.
# colonnes_vides = df.columns[(df == '' | df.isspace()).all()]

Index(['Code service CH', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No Volume', '2eme lot', 'Surface Carrez du 2eme lot', '3eme lot',
       'Surface Carrez du 3eme lot', '4eme lot', 'Surface Carrez du 4eme lot',
       '5eme lot', 'Surface Carrez du 5eme lot', 'Identifiant local'],
      dtype='object')

In [27]:
# suppression des colonnes vides
df = df.drop(colonnes_vides, axis=1)
print(df.shape)

(34169, 28)

In [32]:
# Voir les valeurs manquantes :
df.isnull().sum()

No disposition                 76
No voie                      4965
Code type de voie            6534
Code ID commune                 0
Code postal                     0
Code commune                 1401
Prefixe de section           1143
No plan                      2831
Nombre de lots                359
Code type local              2791
Surface reelle bati           824
Nombre pieces principales    2217
Surface terrain               253
dtype: int64

In [21]:
# supprime les lignes contenant des valeurs manquantes,
nom_de_la_colonne="Valeur fonciere"
df = df.dropna()
print(df.shape)

(0, 28)

In [ ]:
# remplacer les valeurs manquantes par une valeur spécifique (par exemple, 0)
df = df.fillna(0)
print(df.shape)

In [ ]:
# Calculer le z-score pour chaque colonne
df_zscore = df.apply(zscore)

# Remplacer les valeurs manquantes par le z-score
df_filled = df.fillna(df_zscore)
print(df.shape)

TRAITEMENT DES VALEURS ABERRANTES

In [30]:
# La règle de l’écart interquartile (IQR) : Cette méthode, également connue sous le nom de règle de Tukey, consiste à calculer l’IQR (Q3 - Q1) de vos données. Ensuite, vous déterminez vos limites pour les valeurs aberrantes avec l’IQR. La limite inférieure est calculée comme Q1 - 1,5 * IQR et la limite supérieure comme Q3 + 1,5 * IQR. Les données en dehors de ces limites sont considérées comme des valeurs aberrantes1.
#  calcul des quartiles
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
# applique la fonction zscore à chaque colonne de votre DataFrame df en utilisant la méthode apply(). Le résultat est un nouveau DataFrame df_zscore où chaque valeur a été remplacée par son score z.
filtre = (df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))
#  remplace toutes les valeurs aberrantes dans votre DataFrame original df par np.nan, qui représente une valeur manquante ou non définie en Python.
df[filtre] = np.nan

In [31]:
# Boîtes à moustaches (Boxplots) : Les boîtes à moustaches sont un excellent moyen de visualiser les valeurs aberrantes. Les “moustaches” du graphique indiquent la plage dans laquelle se trouvent la plupart des données, et les points en dehors de cette plage sont souvent considérés comme des valeurs aberrantes2.
import matplotlib.pyplot as plt
nom_de_la_colonne="Valeur fonciere"
plt.boxplot(df[nom_de_la_colonne])
plt.show()

KeyError: 'Valeur fonciere'

In [28]:

# Z-score : Le z-score est une mesure qui indique combien de fois l’écart-type une valeur est éloignée de la moyenne. Les valeurs avec un z-score très élevé ou très faible (par exemple, plus de 3 ou moins de -3) sont souvent considérées comme des valeurs aberrantes1.

# avant de faire le z-scrore il faut faire un peu de nettoyage

# Sélectionner uniquement les colonnes numériques
df_numerique = df.select_dtypes(include=[np.number])

# Calculer la moyenne pour chaque colonne numérique
moyenne = df_numerique.mean()

# Remplacer les valeurs manquantes par la moyenne
df = df.fillna(moyenne)


# Exclure les colonnes non numériques
df = df.select_dtypes(include=[np.number])

# Appliquer la fonction zscore
df_zscore = df.apply(zscore)

# calcul du z-score

from scipy.stats import zscore
df_zscore = df.apply(zscore)
filtre = (df_zscore < -3) | (df_zscore > 3)
df[filtre] = np.nan

# TRAITEMENT DE TOUTES LES COLONNES POUR CONNAITRES CELLES QUI ONT LE PLUS DE VALEURS ABERRANTES
# Calculer le score z pour chaque colonne
df_zscore = df.apply(zscore)

# Identifier les valeurs aberrantes
filtre = (df_zscore < -3) | (df_zscore > 3)

# Compter le nombre de valeurs aberrantes dans chaque colonne
nombre_aberrantes = filtre.sum()

# Afficher le nombre de valeurs aberrantes pour chaque colonne
print(nombre_aberrantes)

No disposition               0
No voie                      0
Code type de voie            0
Code ID commune              0
Code postal                  0
Code commune                 0
Prefixe de section           0
No plan                      0
Nombre de lots               0
Code type local              0
Surface reelle bati          0
Nombre pieces principales    0
Surface terrain              0
dtype: int64

In [ ]:

# Méthode de la distance de Cook : Cette méthode est souvent utilisée en régression pour identifier les valeurs aberrantes qui ont une grande influence sur l’ajustement du modèle2.
import statsmodels.api as sm
model = sm.OLS(y, X).fit()
influence = model.get_influence()
cooks_distance = influence.cooks_distance[0]
seuil = 4 / (len(y) - X.shape[1] - 1)
filtre = cooks_distance > seuil
df[filtre] = np.nan

In [ ]:
# FORMATAGE DES DONNEES

In [ ]:
# formate les prix en € par ex 56000 -> 56 000€ l
# La fonction lambda prend chaque valeur dans la colonne, la formate avec des espaces comme séparateurs de milliers et ajoute le symbole ‘€’ à la fin. Le résultat est une colonne où chaque cellule a le format que vous voulez.
#  rajoute un espace et le symbole €
nom_de_la_colonne=""
df[nom_de_la_colonne] = df[nom_de_la_colonne].apply(lambda x: f'{x:,} €'.replace(',', ' '))