In [9]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

df = pd.read_csv("G:\\programmation\\WildCodeSchool\\Formation_IA_DATA_nov2023\\quêtes\\Semaine3\\live_coding\\Base_de_données_et_SQL\\Data_Immo.csv",
                 sep=";", header=0, skiprows=1,encoding='ISO-8859-1')
# header=0 pour indiquer que la deuxiéme ligne contient les entetes
#  sep=";"pour indiquer que le séparateur est un ; et non  ,
#  pour eviter l'erreur d'encodage encoding='ISO-8859-1'
#  skiprows=1  pour eviter la premiere ligne qui dans notre cas contient des infos inutiles

C:\Users\romar\AppData\Local\Temp\ipykernel_7500\1344169189.py:5: DtypeWarning: Columns (20,26,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("G:\\programmation\\WildCodeSchool\\Formation_IA_DATA_nov2023\\quêtes\\Semaine3\\live_coding\\Base_de_données_et_SQL\\Data_Immo.csv",

In [4]:
df.head()  # Affiche les 5 premières lignes du DataFrame

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-02-03 00:00:00,Vente,...,NaN,1,2,Appartement,NaN,52,2,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-02 00:00:00,Vente,...,NaN,2,2,Appartement,NaN,48,3,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-08 00:00:00,Vente,...,NaN,2,2,Appartement,NaN,130,6,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-06 00:00:00,Vente,...,NaN,1,1,Maison,NaN,109,5,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-07 00:00:00,Vente,...,NaN,2,2,Appartement,NaN,91,4,NaN,NaN,NaN

In [5]:
df.info()  # Affiche un résumé concis du DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34169 entries, 0 to 34168
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Code service CH             0 non-null      float64
 1   Reference document          0 non-null      float64
 2   1 Articles CGI              0 non-null      float64
 3   2 Articles CGI              0 non-null      float64
 4   3 Articles CGI              0 non-null      float64
 5   4 Articles CGI              0 non-null      float64
 6   5 Articles CGI              0 non-null      float64
 7   No disposition              34169 non-null  int64
 8   Date mutation               34169 non-null  object
 9   Nature mutation             34169 non-null  object
 10  Valeur fonciere             34151 non-null  object
 11  No voie                     34036 non-null  float64
 12  B/T/Q                       2174 non-null   object
 13  Code type de voie           34169 non-null  int64
 14  Type de voie                33229 non-null  object
 15  Code voie                   34169 non-null  object
 16  Voie                        34169 non-null  object
 17  Code ID commune             34169 non-null  int64
 18  Code postal                 34168 non-null  float64
 19  Commune                     34169 non-null  object
 20  Code departement            34169 non-null  object
 21  Code commune                34169 non-null  int64
 22  Prefixe de section          1143 non-null   float64
 23  Section                     34168 non-null  object
 24  No plan                     34169 non-null  int64
 25  No Volume                   0 non-null      float64
 26  1er lot                     34169 non-null  object
 27  Surface Carrez du 1er lot   34169 non-null  object
 28  2eme lot                    0 non-null      float64
 29  Surface Carrez du 2eme lot  0 non-null      float64
 30  3eme lot                    0 non-null      float64
 31  Surface Carrez du 3eme lot  0 non-null      float64
 32  4eme lot                    0 non-null      float64
 33  Surface Carrez du 4eme lot  0 non-null      float64
 34  5eme lot                    0 non-null      float64
 35  Surface Carrez du 5eme lot  0 non-null      float64
 36  Nombre de lots              34169 non-null  int64
 37  Code type local             34169 non-null  int64
 38  Type local                  34169 non-null  object
 39  Identifiant local           0 non-null      float64
 40  Surface reelle bati         34169 non-null  int64
 41  Nombre pieces principales   34169 non-null  int64
 42  Nature culture              253 non-null    object
 43  Nature culture speciale     8 non-null      object
 44  Surface terrain             253 non-null    float64
dtypes: float64(21), int64(9), object(15)
memory usage: 11.7+ MB

In [7]:
df.describe()  # Affiche des statistiques descriptives du DataFrame

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,No voie,Code type de voie,...,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34169.000000,34036.000000,34169.000000,...,0.0,0.0,0.0,0.0,34169.000000,34169.000000,0.0,34169.000000,34169.000000,253.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.002312,450.483429,4.026574,...,NaN,NaN,NaN,NaN,1.397963,1.918318,NaN,56.724458,2.616026,355.529644
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049823,1712.852166,9.272656,...,NaN,NaN,NaN,NaN,0.665012,0.273884,NaN,29.881797,1.222260,359.067670
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,1.000000,0.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,8.000000,0.000000,...,NaN,NaN,NaN,NaN,1.000000,2.000000,NaN,35.000000,2.000000,115.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,22.000000,0.000000,...,NaN,NaN,NaN,NaN,1.000000,2.000000,NaN,53.000000,3.000000,271.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,66.000000,2.000000,...,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,72.000000,3.000000,470.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,9999.000000,79.000000,...,NaN,NaN,NaN,NaN,17.000000,2.000000,NaN,379.000000,11.000000,2670.000000

In [8]:
# vérifie si toutes les valeurs d’une colonne sont manquantes (NaN).
colonnes_vides = df.columns[df.isnull().all()]
colonnes_vides
# autre solutions  vérifie si toutes les valeurs d’une colonne sont des chaînes vides ou des espaces.
# colonnes_vides = df.columns[(df == '' | df.isspace()).all()]

Index(['Code service CH', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No Volume', '2eme lot', 'Surface Carrez du 2eme lot', '3eme lot',
       'Surface Carrez du 3eme lot', '4eme lot', 'Surface Carrez du 4eme lot',
       '5eme lot', 'Surface Carrez du 5eme lot', 'Identifiant local'],
      dtype='object')

In [ ]:
# suppression des colonnes vides
df = df.drop(colonnes_vides, axis=1)

In [ ]:
# Voir les valeurs manquantes :
df.isnull().sum()

In [ ]:
# supprime les lignes contenant des valeurs manquantes,
df = df.dropna()

In [ ]:
# remplacer les valeurs manquantes par une valeur spécifique (par exemple, 0)
df = df.fillna(0)

In [ ]:
# Calculer le z-score pour chaque colonne
df_zscore = df.apply(zscore)

# Remplacer les valeurs manquantes par le z-score
df_filled = df.fillna(df_zscore)