In [18]:
# excel pour exceler travail sur les regressions linéaires et polynomiales
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [15]:
# creation du dataframe csv
# , sep=",", header=0)#, encoding='ISO-8859-1') --> sep pour nommer le type de séparateur, header=0 pour dire que les entetes sont en 1er ligne
df = pd.read_csv(
    r"G:\programmation\WildCodeSchool\Formation_IA_DATA_nov2023\quêtes\Semaine3\quete_excel_regression _polynomiale\exceler_excel_data.csv")

df.head()

,Country,Region,Population,Area (km2),Area (miles sq.),Pop. Density (per sq. km2),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate (%),Deathrate (%),Agriculture (GDP share),Industry (GDP share),Service (GDP share)
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,250000,48,0,"23,06","163,07",700.0,...,"3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,11100,"124,6","1,26","-4,93","21,52",4500.0,...,"71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,919591,"13,8","0,04","-0,39",31,6000.0,...,"78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,77,"290,4","58,29","-20,71","9,27",8000.0,...,"259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,181,"152,1",0,"6,6","4,05",19000.0,...,"497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [19]:
# création instance de la classe de regresssion linéaire
model = LinearRegression()

In [28]:
#  choix des colonnes
df.columns

Index(['Country', 'Region', 'Population', 'Area (km2)', 'Area (miles sq.)',
       'Pop. Density (per sq. km2)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate (%)', 'Deathrate (%)',
       'Agriculture (GDP share)', 'Industry (GDP share)',
       'Service (GDP share)'],
      dtype='object')

In [29]:
df.info

<bound method DataFrame.info of              Country                               Region  Population  \
0       Afghanistan         ASIA (EX. NEAR EAST)             31056997
1           Albania   EASTERN EUROPE                          3581655
2           Algeria   NORTHERN AFRICA                        32930091
3    American Samoa   OCEANIA                                   57794
4           Andorra   WESTERN EUROPE                            71201
..               ...                                  ...         ...
222       West Bank   NEAR EAST                               2460492
223  Western Sahara   NORTHERN AFRICA                          273008
224           Yemen   NEAR EAST                              21456188
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (km2)  Area (miles sq.) Pop. Density (per sq. km2)  \
0        647500            250000                         48
1         28748             11100                      124,6
2       2381740            919591                       13,8
3           199                77                      290,4
4           468               181                      152,1
..          ...               ...                        ...
222        5860              2263                      419,9
223      266000            102703                          1
224      527970            203849                       40,6
225      752614            290585                       15,3
226      390580            150803                       31,3

    Coastline (coast/area ratio) Net migration  \
0                              0         23,06
1                           1,26         -4,93
2                           0,04         -0,39
3                          58,29        -20,71
4                              0           6,6
..                           ...           ...
222                            0          2,98
223                         0,42           NaN
224                         0,36             0
225                            0             0
226                            0             0

    Infant mortality (per 1000 births)  GDP ($ per capita)  ...  \
0                               163,07               700.0  ...
1                                21,52              4500.0  ...
2                                   31              6000.0  ...
3                                 9,27              8000.0  ...
4                                 4,05             19000.0  ...
..                                 ...                 ...  ...
222                              19,62               800.0  ...
223                                NaN                 NaN  ...
224                               61,5               800.0  ...
225                              88,29               800.0  ...
226                              67,69              1900.0  ...

    Phones (per 1000) Arable (%) Crops (%) Other (%) Climate Birthrate (%)  \
0                 3,2      12,13      0,22     87,65       1          46,6
1                71,2      21,09      4,42     74,49       3         15,11
2                78,1       3,22      0,25     96,53       1         17,14
3               259,5         10        15        75       2         22,46
4               497,2       2,22         0     97,78       3          8,71
..                ...        ...       ...       ...     ...           ...
222             145,2       16,9     18,97     64,13       3         31,67
223               NaN       0,02         0     99,98       1           NaN
224              37,2       2,78      0,24     96,98       1         42,89
225               8,2       7,08      0,03      92,9       2            41
226              26,8       8,32      0,34     91,34       2         28,01

    Deathrate (%) Agriculture (GDP share) Industry (GDP share)  \
0           20,34                    0,38                 0,24
1            5,22                   0,232                0,188
2            4,61                   0,101                  0,6
3            3,27                     NaN                  NaN
4            6,25                     NaN                  NaN
..            ...                     ...                  ...
222          3,92                    0,09                 0,28
223           NaN                     NaN                  NaN
224           8,3                   0,135                0,472
225         19,93                    0,22                 0,29
226         21,84                   0,179                0,243

    Service (GDP share)
0                  0,38
1                 0,579
2                 0,298
3                   NaN
4                   NaN
..                  ...
222                0,63
223                 0,4
224               0,393
225               0,489
226               0,579

[227 rows x 21 columns]>

In [31]:
# pour trouver les colonnes ayant les des correlations
# Sélectionnez uniquement les colonnes numériques
df_numeric = df.select_dtypes(include=[np.number])
#  selectionne toutes les colonnes qui ne sont pas vide et pas des string car np.number ne donne pas de bon résultats
df_numeric = df.select_dtypes(exclude=[object])

# Affichez les noms des colonnes numériques
print(df_numeric.columns)

# Calculez la corrélation entre les colonnes numériques
correlation = df_numeric.corr()

# Affichez la matrice de corrélation
print(correlation)

Index(['Population', 'Area (km2)', 'Area (miles sq.)', 'GDP ($ per capita)'], dtype='object')
                    Population  Area (km2)  Area (miles sq.)  \
Population            1.000000    0.469985          0.469985
Area (km2)            0.469985    1.000000          1.000000
Area (miles sq.)      0.469985    1.000000          1.000000
GDP ($ per capita)   -0.039324    0.072185          0.072185

                    GDP ($ per capita)
Population                   -0.039324
Area (km2)                    0.072185
Area (miles sq.)              0.072185
GDP ($ per capita)            1.000000

In [32]:


# Ajustez le modèle à vos données
# je prends reshape(-1, 1)  pour créer une matrice 2D car
# LinearRegression attend une matrice 2D pour l'entrée
model.fit(df['x'].values.reshape(-1, 1), df['y'])

KeyError: 'x'

# REPRESENTATION GRAPHIQUE DE LA REGRESSION LINEAIRE

In [ ]:
# Tracez les données originales en bleu
plt.scatter(df['x'], df['y'], color='blue')

# Tracez la ligne de régression linéaire en rouge
plt.plot(df['x'], y_pred, color='red')

# Affichez le graphique
plt.show()